html, body {
  height: 100%;
}

.pocket-list {
  max-width: 1000px;
  width: 1000px;
  margin: 0 auto;
}

.pocket-list .pocket-list-item {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.pocket-list .pocket-list-item .details {
  height: 32px;
}

.pocket-list .pocket-list-item .details .pocket-name {
  font-size: 1.2em;
}

.pocket-list .pocket-list-item .tab-list {
  margin: 8px 4px;
}

.pocket-list .pocket-list-item .tab-list .tab-list-item a {
  text-decoration: none;
  color: inherit;
}

.pocket-list .pocket-list-item .tab-list .tab-list-item {
  background-color: #FEFEFE;
  margin: 4px 4px 0;
  padding: 4px 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.pocket-list .pocket-list-item .tab-list .tab-list-item .tab-info {
  font-size: 0.9em;
  margin-left: 0;
}
