
@import url('https://fonts.googleapis.com/css?family=\
Catamaran:400,600,800|\
Dosis:400,500,600,700,800|\
Exo+2:400,500,600|\
Hind:400,500,600|\
Nunito:300,400,600,700,800|\
Open+Sans:400,600');

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-size: 10pt;
  font-weight: 400;
}

h1 {
  font-size: 17px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* --- external components --- */

.twitter-picker input {
  width: 64px !important;
}

.emoji-mart .emoji-mart-scroll {
  max-height: 136px !important;
}

.emoji-mart .emoji-mart-no-results {
  padding-top: 20px !important;
}

.emoji-mart-bar .emoji-mart-anchor {
  padding: 6px 4px !important;
}

.emoji-mart-bar .emoji-mart-preview {
  height: 48px !important;
}

.emoji-mart-bar .emoji-mart-preview .emoji-mart-preview-data {
  left: 48px;
}

.emoji-mart-bar .emoji-mart-preview .emoji-mart-preview-data * {
  font-size: 1rem !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.emoji-mart-bar .emoji-mart-preview .emoji-mart-preview-data .emoji-mart-preview-emoticons {
  display: none;
}

.emoji-mart-bar .emoji-mart-preview .emoji-mart-preview-emoji {
  left: 4px !important;
  margin-right: 4px !important;
}

.emoji-mart-bar .emoji-mart-preview .emoji-mart-preview-emoji span span {
  width: 32px !important;
  height: 32px !important;
}

.emoji-mart .emoji-mart-emoji {
  padding: 4px !important;
}

.emoji-mart-emoji {
  cursor: inherit;
}

.emoji-mart-emoji span {
  filter:
  drop-shadow(0 -1px #08386399)
  drop-shadow(-1px 1px #08386399)
  drop-shadow(1px 0.5px #083863CC)
}
